.range-box {
  width: $playground-box-width;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.value-box {
  width: 151px;
  height: 35px;
  font-size: 12px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: all 0.3sease-in-out;
  outline: none;
  padding-left: 10px;
}

.value-box:hover {
  border-color: $Primery;
  box-shadow: 0 0 5px rgba(58, 65, 255, 0.5);
}

.value-box:focus {
  border-color: $Primery;
  box-shadow: 0 0 8px rgba(58, 65, 255, 0.8);
  background-color: #f0f3ff;
}

.value-box::placeholder {
  color: $Seccondary;
  opacity: 1;
  transition: color 0.3s ease-in-out;
}

.value-box:focus::placeholder {
  color: $Seccondary;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 10px;
}

.slider-track {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-container input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: none;
  position: absolute;
  pointer-events: none;
}

.slider-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: $Primery;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

// селект
.select-box {
  position: relative;
  width: $playground-box-width;
  display: inline-block;
}

.playground__text {
  font-size: 14px;
  color: $color-text;
  margin-bottom: 5px;
}

.select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $Dark;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  font-size: 12px;
  color: #444;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.select-trigger:hover {
  border-color: $Primery;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.arrow {
  font-size: 16px;
  color: $Seccondary;
  transition: transform 0.3s ease-in-out;
}

.select-box.active .arrow {
  transform: rotate(180deg);
}

.selectElement {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.select-box.active .selectElement {
  display: block;
  opacity: 1;
}

.option {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 5px;
}

.option:hover {
  background-color: $Primery;
  color: #fff;
}

.option.selected:hover {
  background-color: $Primery;
  color: #fff;
}

// радио
.radio-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio-label-box {
  display: flex;
  gap: 16px;
}

.radio-label {
  font-size: 12px;
  color: $Seccondary;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.radio-label span {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid $Dark;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.radio-label.selected span {
  background-color: $Primery;
  border-color: $Primery;
}

.radio-label:hover {
  color: $Primery;
}

.radio-label.selected {
  color: $Dark;
  font-weight: bold;
}

// инпут имя
.name-box {
  width: $playground-box-width;
  height: $playground-box-height;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.personName-box {
  padding: 10px;
  font-size: 12px;
  border: 1px solid $Dark;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.personName-box:focus {
  border-color: $Primery;
  outline: none;
}

.personName-box.error {
  border-color: $Error;
}

.error-message-name {
  font-size: 12px;
  color: $Error;
  background-color: rgba(221, 206, 206, 0.699);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease;
  margin-top: -10px;
  padding: 5px;
  border-radius: 3px;
  height: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}

// инпут возрат
.age-box {
  width: $playground-box-width;
  height: $playground-box-height;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.personAge-box {
  padding: 10px;
  font-size: 12px;
  border: 1px solid $Dark;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.personAge-box:focus {
  border-color: #3A41FF;
  outline: none;
}

.error-message-age {
  font-size: 12px;
  color: red;
  background-color: rgba(221, 206, 206, 0.699);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease;
  margin-top: -10px;
  padding: 5px;
  border-radius: 3px;
  height: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.personAge-box.error {
  border: 1px solid $Error;
}

// чекбоксы
.checkbox-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.checkbox-label {
  font-size: 12px;
  color: #818181;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 13px;
  height: 13px;
  border: 1px solid #000000;
  border-radius: 0;
  position: relative;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-checkbox::after {
  content: ''; 
  position: absolute;
  top: 40%;
  left: 50%;
  width: 4px;
  height: 7px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkbox-label span {
  font-size: 12px;
  color: #000000;
  margin-left: 8px;
}

.checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
  border-color: #3A41FF;
  background-color: #3A41FF;
}

.checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

.error-message {
  font-size: 12px;
  color: red;
  visibility: visible;
  height: 12px;
  margin-top: 4px;
}

.checkbox-box:has(.required-checkbox:checked) .error-message {
  visibility: hidden;
}

// модалка
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 410px;
  height: 100%;
  max-height: 250px;
  box-shadow: 15px 14px 15px rgb(0, 0, 0);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1001;
}

.modal-content h3 {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 14px;
  color: #000000;
  margin: 8px 0;
}

.modal .button {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal .button:hover {
  background: #0056b3;
}

// адаптив
@media screen and (max-width: 376px) {
  .wrapper, .center {
    width: 100%;
    padding: 0;
  }
  .header__block {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top {
    height: 221px;
    width: 100%;
    background-color: black;
    background-image: url(./img/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 21px;
    text-align: center;
  }
  h2, h3 {
    font-size: 18px;
    text-align: center;
  }
  .header__block_text,
  .playground__text,
  .description__text {
    font-size: 12px;
    text-align: center;
  }
  .for-mob {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .radio-box {
    width: 315px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .input-box {
    flex-direction: column;
  }
  .value-box {
    width: 100%;
    margin-bottom: 10px;
  }
  .slider-container {
    width: 100%;
  }
  .button {
    width: 100%;
    font-size: 14px;
    padding: 14px;
  }
  .checkbox-options,
  .radio-options {
    flex-direction: column;
  }
  .modal {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
  }
  .modal-content {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .modal-overlay {
    background: rgba(0, 0, 0, 0.7);
  }
  .footer-content {
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  .modal {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0px;
  }
}